@font-face {
    font-family: 'tes';
    src: url('TESLA.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h3{
    color: #426696;
}

h2 {
    color: #65dfc9;
}

.header {
    top: 0;
    width: 100%;
    left: 0;
    padding: 5px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0px 0px 8px rgba (0, 0, 0, 0.4);
    position: fixed;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.5)
    ); 
    backdrop-filter: blur(2rem);
}

.header h1 {
    color: rgb(104, 5, 14);
    font-family: 'tes', sans-serif; 
    font-size: 30px;  
}
.navbar ul li {
    list-style: none;
    position: relative;
    float: left;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: rgb(104, 5, 14);
    margin-left: 35px;
    transition: .3s;
}
.navbar ul li a:hover{
     color: dodgerblue;
     visibility: 0;
}
.navbar ul li ul {
    position: absolute;
    width: auto;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    backdrop-filter: blur(5rem);
    -webkit-backdrop-filter: blur(2rem);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    z-index: 6;
    display: none;
}

.navbar ul li ul li {
    height: 40px;
    left: 0;
    width: 150px;
    border-bottom: 1px solid #65dfc9;
    display: flex;
    align-items: center;
}



.navbar ul li:hover ul{
    display: block;
}


#menubtn {
    color: rgb(104, 5, 14);
    display: none;
}

#textbox{
    border: none;
    width: 200px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    padding: 5px;
}

main {
   
    background: linear-gradient(to right top, #65dfc9, #6cdbeb );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

.glass {
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 3;
    backdrop-filter: blur(2rem);
    -webkit-backdrop-filter: blur(2rem);
    display: flex;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin: 4.5rem;
}

.circle1,
.circle2,
.circle3,
.circle4 {
    background: white;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.3)
    );
    height: 15rem;
    width: 15rem;
    position: absolute;
    border-radius: 50%;
}

.profile img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.circle1{
    top: 2%;
    left: 70%;
    z-index: 1;
}

.circle2{
    top: 60%;
    left: 70%;
    z-index: 1;
}

.circle3{
    top: 80%;
    left: 80%;
    height: 9rem;
    width: 9rem;
    z-index: 1;
}

.circle4{
    top: 40%;
    left: 50%;
    height: 20rem;
    width: 20rem;
    z-index: 1;
}

.dashboard{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center; 
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.5)
    ); 
    border-radius: 2rem 0 0 2rem;
}

.projects {
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px;
}

.glasshead {
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.5)
    ); 
    height: 3rem;
    border-radius: 0 2rem 0 0; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects ul li {
    list-style: none;
    width: 100%;
    height: 50px;
    background: #1ddfd918;
    cursor: pointer;
    padding:15px;
    margin-bottom: 10px;
    border-radius: 1rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.projects ul li:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.links {
    display: flex;
}
#twitter{
    background: linear-gradient(
        to right bottom, 
        rgba(13, 210, 245, 0.507),
        rgba(9, 110, 243, 0.8)
    );
}
#dicord {
    background: linear-gradient(
        to right bottom, 
        rgba(55, 120, 240, 0.507),
        rgba(138, 9, 243, 0.8)
    );
}
.link {
    height: auto;
    width: auto;
    padding: 1rem;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.3)
    );
    border-radius: 50%;
    margin: .5rem;
    transition: .3s;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
       
}

.link:hover{
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.2),
        25px 35px 20px rgba(0, 0, 0, 0.2),
        25px 30px 30px rgba(0, 0, 0, 0.2),
        inset -20px -20px 25px rgba(255, 255, 255, 0.9);
    transition: .3s;
}

.show{
    flex: 2;
}

.show .projectCard {
    display: flex;
    background: linear-gradient(
        to left top,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.5)
    );
    border-radius: 1rem;
    margin: 2rem 3rem;
    padding: 1.5rem;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
}
.show .projectCard .projectTitle {
    margin-bottom: 15px;
}

.show .projectCard .progressContainer {
    background: linear-gradient(to right top, #c6f1eaa1, #b9d2d6 );
    width: 100%;
    height: 5px;
    margin-top: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}
.progress {
    background: linear-gradient(
        to right top,
        rgba(229, 233, 7, 0.336),
        rgba(9, 243, 99, 0.8),
        rgb(4, 253, 191)
    );
    width: 40%;
    height: inherit;
    border-radius: inherit;
    transition: width 100ms ease-in;
}
.show .projectCard p {
    margin-bottom: 1rem;
    font-size: 15px;
    color: #000000bb;
}

 .show .projectCard .pronum {
    margin-top: 15px;
 }
 .btnctn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
 }

 .Btn {
    width: 10rem;
    height: 50px;
    background: #1ddfd918;
    padding:15px;
    margin-bottom: 10px;
    border-radius: 1rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    
 }
 .Btn:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
 }

 #projects {
    display: none;
 }

 #seemore {
    display: none;
 }

 #card2 {
    box-shadow: 0 0 800px(0, 0, 0, 0.7);
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    position: relative;
    margin: 1rem;
 }

 .drop {
    position: relative;
    width: 350px;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.2),
        25px 35px 20px rgba(0, 0, 0, 0.2),
        25px 30px 30px rgba(0, 0, 0, 0.2),
        inset -20px -20px 25px rgba(255, 255, 255, 0.9);
    height: 350px;
    display: flex;
    justify-content: center;
    transition: 0.5s ease-in-out;
    backdrop-filter: blur(2rem);
}

.drop:nth-child(1) {
    border-radius: 57% 43% 43% 57% / 43% 43% 57%;
}

.drop:nth-child(2) {
    border-radius: 61% 39% 52% 48% / 44% 59% 56%;
}
/*
.drop:nth-child(3) {
    border-radius: 35% 65% 31% 69% / 57% 41% 43%;
}*/

.drop:nth-child(1):hover {
    border-radius: 35% 65% 31% 69% / 57% 41% 43%;
}

.drop:nth-child(2):hover {
    border-radius: 57% 43% 43% 57% / 43% 43% 57%;
}

.drop:nth-child(3):hover {
    border-radius: 57% 43% 43% 57% / 43% 43% 57%;
}

.drop::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 85px;
    width: 35px;
    height: 35px;
    background: #ffffffa9;
    border-radius: 50%;
    opacity: 0.9;
}

.drop::after {
    content: '';
    position: absolute;
    top: 100px;
    left: 30px;
    width: 15px;
    height: 35px;
    background: #ffffffad;
    border-radius: 50%;
    opacity: 0.9;
}
#water {
    display: flex;
    flex-direction: column;
}

.droplet1,
.droplet2,
.droplet3,
.droplet4{
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.2),
        25px 35px 20px rgba(0, 0, 0, 0.2),
        25px 30px 30px rgba(0, 0, 0, 0.2),
        inset -20px -20px 25px rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    z-index: 1;
    position: absolute;
}

.droplet1{
    top: 98%;
    left: 200px;
    height: 20rem;
    width: 20rem;
}

.droplet2 {
    top: 120%;
    left: 75%;
    height: 9rem;
    width: 9rem;
}

.droplet3 {
    top: 1%;
    left: 14%;
    height: 15rem;
    width: 15rem;
}

.droplet4 {
    top: 175%;
    left: 75%;
    height: 9rem;
    width: 9rem;
}
.drop .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    padding: 40px;
    gap: 10px;
    font-size: 15px;
    
}

.drop .content h2 {
    position: relative;
    width: auto;
    height: auto;
    background: #eff0f4;
    border-radius: 35% 65% 31% 69% / 57% 41% 43%;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1),
        inset -2px -5px 10px rgba(255, 255, 255, 1),
        15px 15px 10px rgba(0, 0, 0, 0.5),
        25px 10px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr);
    padding: 10px;
}

.drop .content .hd{
    font-weight: bold;
    color: var(--clr);
    text-align: left;
}

@media (max-width: 892px) {
    .navbar {
        display: none;
    }
    
    .header {
        padding: 10px;
    }

    #menubtn {
        display: block;
    }
    

    main {
        min-width: 600px;
    }

    .glass {
        flex-direction: column;
        margin-left: 15px;
        margin-right: 15px;
        min-width: 300px;
    }

    .glasshead{
        display: none;
    }
    .dashboard{
        flex: 2;
        padding: 15px;
        border-radius: 2rem 2rem 0 0;
    }
    .show {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .projects {
        display: none;
    }

    .show .projectCard {
        display: none;
    }
    #card2{
        flex-direction: column;
        justify-content: space-between;
    }

    #projects {
        display: block;
     }
    
     #seemore {
        display: block;
     }
    
}
/*

*/